NEXTAUTH_URL=http://localhost:3000

#openssl rand -base64 32
SECRET= 

ASGARDEO_CLIENT_ID=XrbLjcNgTdDZi0fqK9YMOAOyF3Qa

ASGARDEO_CLIENT_SECRET=

ASGARDEO_SCOPES=openid email profile

ASGARDEO_SERVER_ORIGIN=https://api.asgardeo.io/t/webappsdemo

TODO_API_BASE_URL=http://localhost:8080